'context-menu':
  'atom-text-editor': [
    {
      'label': 'Add gulp-manager pane'
      'command': 'gulp-manager:add'
    }
  ]
'menu': [
  {
    'label': 'Packages'
    'submenu': [
      'label': 'gulp-manager'
      'submenu': [
        {
          'label': 'Add'
          'command': 'gulp-manager:add'
        }
      ]
    ]
  }
]
